body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    position : absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.video-container, .capture-container {
    position: relative;
}

.button-container {
    display: flex;
    margin: 0px;
    flex-flow: row wrap;
}

button {
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color:red;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

