body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    position : absolute;
    top: 0;
    left: 0;
    z-index: 10;
    /* border: solid black; */
}

.video-container, .capture-container {
    position: relative;
}

.button-container {
    display: flex;
    margin: 0px;
    flex-flow: row wrap;
}

button {
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color:red;
}